mixin img(className,src,ext,alt)
  //- img(src="https://ed.team/static/images/logo-alt.svg")
  picture(class=className id=className)
    source(srcset= `img/${src}-xl.${ext}` media="(min-width: 1800px) and (orientation:landscape)")
    source(srcset= `img/${src}-l.${ext}` media="(min-width: 1200px) and (orientation:landscape)")
    source(srcset= `img/${src}-m.${ext}` media="(min-width: 800px) and (orientation:landscape)")
    source(srcset= `img/${src}-mp.${ext}` media="(min-width: 800px) and (orientation:portrait)")
    source(srcset= `img/${src}-s.{ext}` media="(max-width: 360px) and (orientation:landscape)")
    source(srcset= `img/${src}-sp.{ext}` media="(max-width: 360px) and (orientation:portrait)")
    img(src=`img/${src}.${ext}` alt=alt)
